<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3lanvn7UjNB8FXrxeY7lT4R2V4FKg5Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>137029353181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.SchedAI</string>
	<key>PROJECT_ID</key>
	<string>shedai</string>
	<key>STORAGE_BUCKET</key>
	<string>shedai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:137029353181:ios:0f020fc8db3e1bfea36534</string>
</dict>
</plist>
